<article class="h-entry">
  <div class="e-content">
    <% @entry.photos_with_alt.each do |photo_with_alt| %>
      <%= image_tag photo_with_alt.photo, alt: photo_with_alt.alt, class: "u-photo" if photo_with_alt.photo.attached? %>
    <% end %>

    <div>
      <%== @entry.content %>
    </div>
  </div>

  <% if @entry.categories.any? %>
    <div>
      <% @entry.categories.each do |category| %>
        <span class="p-category"><%= category.name %></span>
      <% end %>
    </div>
  <% end %>
</article>
